@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Cars 4 U!</h1>
    <p>Need your car FIXED FIXED FIXED - BOOK BOOK BOOK an appointment with US!</p>
    <p>We fix new cars old cars and more!</p>
</div>

<link rel="stylesheet" href="site.css">